.cursor-pointer {
  cursor:pointer;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
   max-width:1200px;
  }
}

body {
    background-color: #666666;
    /*background-image: url("/back.png");*/
    /*background-image: url("/497766142.jpg");*/
    /*background-image: url("/10_5434.jpg");*/
    /*background-image: url("/nav-grid.png");*/
    /*background-image: url("/back-grey-grey.png");*/
}

.outer {
  margin: 0px 20px 0px 20px;
}

.shadow {
    box-shadow: 9px 9px 9px #535353;
    margin: 20px 5px 30px 5px;
}

.link {
    color: #0275d8;
    cursor:pointer;
}

.link:hover{
  color:#31708f;
  /*text-decoration: bold;*/
}

.link:active{
  color:#0275d8;
}

.button-space {
  margin: 5px 5px 5px 5px;
}
