body {
  background-color: #ededed;
}

.main-container {
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.main-card {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.word-wrap {
  flex-wrap: wrap;
  /*word-wrap: break-word;*/
  /*word-break: break-all;*/
}

.left-indent {
  padding-left: 30px;
}

.add-probe-fab {
  padding-top: 15px;
  padding-bottom: 15px;
}

.new-probe {
  padding-top: 30px;
}
