.cursor-pointer {
  cursor:pointer;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
   max-width:1200px;
  }
}

body {
    background-color: #c0c0c0;
}

.shadow {
    box-shadow: 7px 7px 7px #888888;
}

.link {
    color: #0275d8;
    cursor:pointer;
}

.link:hover{
  color:#31708f;
  /*text-decoration: bold;*/
}

.link:active{
  color:#0275d8;
}
